.upload-photo-wrapper {
    margin-bottom: 0.5rem;
    overflow: hidden;
}
.upload-photo-image {
    max-width: 100%;
    background: url("photo.svg") 50% 50% no-repeat;
    cursor: pointer;
}
.upload-photo-field {
    display: none;
}