.upload-photo-wrapper {
    margin-bottom: 0.5rem;
}
.upload-photo-image {
    max-width: 100%;
    background: url("photo.svg") 100% 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    cursor: pointer;
}
.upload-photo-field {
    display: none;
}